name = "main-portal"

points = {
	{
		type = "redstone-output",
		name = "drawbridges",
		side = "bottom",
		state = true,
	},
	{
		type = "book-receptacle",
		name = "portal",
		side = "front",
		slots = {1},
	},
	{
		type = "ocs-tank",
		name = "tank",
		sensor = "right",
		target = "0,1,1",
		tank = 1,
	},
	{
		type = "big-reactor",
		name = "reactor",
		side = "left",
	},
}

--master server id number
master = 40
