name = "main-portal"

points = {
	{
		type = "redstone-output",
		name = "drawbridges",
		side = "bottom",
		state = true,
	},
	{
		type = "book-receptacle",
		name = "portal",
		side = "front",
		slots = {1},
	},
	{
		type = "ocs-tank",
		subpoints = true,
		name = "tank"
		sensor = "left",
		target = "0,1,1",
		points = {
			{
				type = "amount",
				name = "amount",
				tank = 1,
			},
			{
				type = "capacity",
				name = "max",
				tank = 1,
			},
			{
				type = "fluid",
				name = "contents",
				tank = 1,
			},
		},
	},
}

--master server id number
master = 40
